@import "view/watch.view.css";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.add-watch-container {
	position: fixed;
	top: 0;
	z-index: 10;
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
